/* Empty. Add your own CSS if you like */
.link
{
    text-align: center
}
.item item-input
{
    width: 40px;
    
}
body
{
    background-image: url(http://i.imgur.com/ZLcDw.jpg);
    background-repeat: no-repeat;
}


.back
{
 background-image: url(http://i.imgur.com/ZLcDw.jpg);   
    background-repeat: no-repeat;
}

.button button-block button-balanced padding-horizontal
{
    color: red;
}